@page
@model ProductCatalogue.Pages.Womens.IndexModel

@{
    ViewData["Title"] = "Women";
}
<section class="women-container">
    <nav class="women-nav">
        <h3>
            <a class="text-dark" asp-area="" asp-page="/Womens/Index">Damer</a>
        </h3>
        <ul>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Dresses">Dresses</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Top">Top</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Short">Short</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Blouses">Blouses</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Blazers">Blazers</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Knitted-Sweater">Knitted Sweater</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Pants">Pants</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-page="/Womens/Shoe">Shoe</a>
            </li>
        </ul>
    </nav>
    <main class="women-main">
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Dresses">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fb0%2Fe3%2Fb0e36182d5404dffa33de2b6f734dba108ffde25.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" />
                <p>Dresses</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Top">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fbb%2F0f%2Fbb0f196a9a14402f966fb2a5bed303f8fd529bce.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" />
                <p>Top</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Short">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fcc%2F29%2Fcc29c332c0d7ba206be04695105b375fe1729cdc.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url[file:/product/main]" />
                <p>Short</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Blouses">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F25%2F5d%2F255da855bd76894a5b90a396ed180bbe5bbc7eeb.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bladies_shirtsblouses_blouses%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url[file:/product/main]" />
                <p>Blouses</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Blazers">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F8e%2Fbc%2F8ebc406d3506051d52bb095dcff7c8c82ecbc8af.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" />
                <p>Blazers</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Knitted-Sweater">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F8c%2F08%2F8c0851e8dd5e0bbaed6f294e638fc6ae5faed49e.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" />
                <p>Knitted Sweater</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Pants">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fc7%2F34%2Fc734f08c37c8579e3d0e6af59115633276d99269.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5Bladies_trousers_highwaisted%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url[file:/product/main]" />
                <p>Pants</p>
            </a>
        </div>
        <div>
            <a class="text-dark" asp-area="" asp-page="/Womens/Shoe">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fc8%2F2c%2Fc82ce245fb2e480a7796e75fbb2416480de5d3a0.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" />
                <p>Shoe</p>
            </a>
            
        </div>
    </main>
</section>


