@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row mb-auto" style="margin:0;">
    <div class="col-md-3">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <h3>Lorem ipsum dolor tøj</h3>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2Fb0%2Fe3%2Fb0e36182d5404dffa33de2b6f734dba108ffde25.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="height:300px;width:100%;"/>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F8b%2Fde%2F8bde336392ab0994bf02e8f2faede2e692f166cd.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main] " style="height:400px;width:100%;"/>
                <h3>FOR HENDE</h3>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <button class="homepage-button"><a class="nav-link text-dark" asp-area="" asp-page="/Womens/Index">See Collection</a></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F5a%2F76%2F5a76c17ced319d6f9341a18930122ff673a05c26.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="height:400px;width:100%;" />
                <h3>FOR HAM</h3>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <button class="homepage-button"><a class="nav-link text-dark" asp-area="" asp-page="/Mens/Index">See Collection</a></button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row no-gutters mb-4">
            <div class="col p-4 d-flex flex-column">
                <img src="https://lp2.hm.com/hmgoepprod?set=quality%5B79%5D%2Csource%5B%2F9b%2F47%2F9b470c60834ee98be23d5b0a8b086a05c358d7b8.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BLOOKBOOK%5D%2Cres%5Bm%5D%2Chmver%5B1%5D&call=url[file:/product/main]" style="height:400px;width:100%;"/>
                <h3>FOR BØRM</h3>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <button class="homepage-button"><a class="nav-link text-dark" asp-area="" asp-page="/Kids/Index">See Collection</a></button>
            </div>
        </div>
    </div>
</div>