@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text">
                    Nice clothes for Women
                </p>
                <button><a href="#">See Collection</a></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text">
                    Nice clothes for Men
                </p>
                <button><a class="nav-link text-dark" asp-area="" asp-page="/Mens/Index">See Collection</a></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text">
                    Nice clothes for Kids
                </p>
                <button><a href="#">See Collection</a></button>
            </div>
        </div>
    </div>
</div>